@import "tailwindcss";

@config "../../tailwind.config.cjs";

body {
  @apply bg-white text-xs text-neutral-600 dark:bg-neutral-900 dark:text-neutral-200 antialiased;
}

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/inter-regular.woff2") format("woff2"),
    url("/fonts/inter-regular.woff") format("woff");
}

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("/fonts/inter-medium.woff2") format("woff2"),
    url("/fonts/inter-medium.woff") format("woff");
}

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("/fonts/inter-semibold.woff2") format("woff2"),
    url("/fonts/inter-semibold.woff") format("woff");
}

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("/fonts/inter-extrabold.woff2") format("woff2"),
    url("/fonts/inter-extrabold.woff") format("woff");
}

.modal {
  max-width: calc(100vw - 32px);
  max-height: calc(100vh - 32px);
}

#root,
body,
html {
  height: 100%;
}

.tiptap p.is-editor-empty:first-child::before {
  @apply text-neutral-400 dark:text-neutral-500;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
